/* game-style.css */

body {
	background-color: black;
}

/* Score */
h1 {
	font-family: Arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: gainsboro;
	text-align: center;
}

/* navigation bar */
.navbar-brand {
	font-family: 'Monoton';
	font-size: 30px;
}

/* how to make the vertical alignment responsive? */
#container {
    text-align: center;
    padding-top: 200px;
}

.timer {
	display: block;
	width: 60%; 
	margin: 0 auto; 
	margin-top: 20px ; 
	border-radius: 13px;
	background-color: #e5c9c9;
	
}

#bar {
	width: 0%;
	height: 30px;
	/* border-radius: 13px 0px 0px 13px; */
	border-radius: 13px;
	background-color: #bfbfbf;
	text-align: center;
	font-family: Arial, sans-serif;
	color: #515151;
}

/* multiple choice options */

/* "Can you guess the song?" */
h2 {
	font-family: Arial, sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: gainsboro; 
	margin-bottom: 40px;
}

.choices {
	margin-top: 50px;
	text-align: center;
	margin-left: -40px;
	color: white;
}

ol li {
	color: #d2baba;
	font-family: Arial, sans-serif;
	font-size: 30px;
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 170px;
	margin-bottom: 50px;
}

.btn-outline {
    background-color: transparent;
    border: none;
    color: inherit;
    transition: all .25s;
}

.btn-primary.btn-outline {
    color: #428bca;
    /*color: #ff4c4c;*/
}

.btn-primary:active, .btn-primary.active {
	outline: none !important; 
    box-shadow: none;
    /*color: #ff4c4c;*/
}

#endGameRow {
	margin: 150px;
}

#button-album-cover-0 {
	width: 250px;
	height: auto;
}

#button-album-cover-1 {
	width: 250px;
	height: auto;
}

#button-album-cover-2 {
	width: 250px;
	height: auto;
}

#button-album-cover-3 {
	width: 250px;
	height: auto;
}

#button-song-name-0 {
	font-size: 20px;
}

#button-song-name-1 {
	font-size: 20px;
}

#button-song-name-2 {
	font-size: 20px;
}

#button-song-name-3 {
	font-size: 20px;
}

#quit-btn {
	color: #000000;
	font-size: 18px;
}

#game_over_wrapper {
	display: none;
}

#header {
	text-align: center;
	border: 1px solid white;
	margin-left: 20%;
	margin-right: 20%;
}

#final-score-display {
	font-family: 'Slabo 27px', serif;
	text-align: center;
	font-size: 50px;
	color: #e3dede;
	font-style: bold;
}

#final-message {
	font-family: 'Gil Sans Extrabold';
	font-size: 30px;
	text-align: center;
	color: #e3dede;
	font-style: bold;
}

#songsplayed {
	font-family: 'Gil Sans Extrabold';
	padding-top: 30px;
	font-size: 25px;
	color: #e3dede;
}

.table table-condensed {
	border-collapse: collapse;
}

#played-songs {
	border: 1px solid black;
  	padding: 0.5rem;
  	text-align: left;
	color: #e3dede;
}