.navbar-brand {
	font-family: 'Monoton';
	font-size: 30px;
}

/* how to make the vertical alignment responsive? */
#container {
    text-align: center;
    padding-top: 200px;
}

.intro-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    color: white;
}

.blur {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.btn {
    margin-top: 20px;
    font-size: 18px;
}

.modal  {
    /*   display: block;*/
    padding-right: 0px;
    background-color: rgba(4, 4, 4, 0.5); 
    }
   
    .modal-dialog {
            top: 20%;
            width: 60%;
            position: center;
            /*margin: 100px;*/
        }
        .modal-content {
                border-radius: 0px;
                border: none;
                top: 40%;
            }
            .modal-header {
                    background-color: snow;
                    color: grey;
                    text-align: center;
            }
            .modal-body {
                    background-color: snow;
                    color: grey;
                    text-align: center;
                }

#bg-image {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}
