 body {
    overflow-x: hidden;
 }

#profile {
    width: 50%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: black;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;

}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-align: center;
    font-size: medium;
    color: lightgrey;
    line-height: 50px;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0px;
    }

    #wrapper.toggled {
        padding-right: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
   }
}

.modal-title {
    text-align: center;
    font-size: 30px;
}

.modal  {
    /*   display: block;*/
    padding-right: 0px;
    background-color: rgba(4, 4, 4, 0.5); 
    }
    .modal-dialog {
            top: 10%;
            width: 60%;
            /*margin: 100px;*/
        }
        .modal-content {
                border-radius: 0px;
                border: none;
                top: 40%;
            }
            .modal-header {
                    background-color: snow;
                    color: grey;
            }
            .modal-body {
                    background-color: snow;
                    color: grey;
                }